<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>API Documentation</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
    </head>
    <body class="bg-secondary">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"
                    >LCCTV BACKEND API DOCUMENTATION</a
                >
            </div>
        </nav>
        <div class="container-fluid bg-secondary">
            <div class="row mt-3">
                <div class="col-3">
                    <div class="card bg-secondary h-100">
                        <div class="card-header bg-dark text-light">
                            CONTENT
                        </div>
                        <div class="card-body">
                            <ol class="list-group list-group-numbered">
                                <% routes.forEach((route, i) => { %>
                                <li
                                    class="
                                        list-group-item
                                        bg-secondary
                                        text-light
                                    "
                                >
                                    <a class="text-light" href="#<%= i %>"
                                        ><%= route.base %></a
                                    >
                                </li>
                                <% }) %>
                            </ol>
                        </div>
                        <div class="card-footer">
                            <%= routes.length %> items
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card bg-secondary h-100">
                        <div class="card-header bg-dark text-light">
                            DESCRIPTION
                        </div>
                        <div class="card-body">asdasddw</div>
                        <div class="card-footer">Created @ 08/16/2021</div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <% routes.forEach((route, i) => { %>
                    <div class="card bg-secondary mt-3">
                        <div class="card-header bg-dark" id="<%= i %>">
                            <span
                                class="
                                    text-light
                                    border-secondary border-end
                                    pe-3
                                    me-3
                                "
                                >BASE
                            </span>
                            <code><%= route.base %></code>
                        </div>
                        <div class="card-body text-light">
                            <% route.endpoints.forEach(e => { %>
                            <div
                                class="
                                    mb-4
                                    mx-3
                                    p-2
                                    px-3
                                    border border-dark border
                                    rounded
                                "
                            >
                                <div
                                    class="
                                        row
                                        border border-secondary
                                        bg-dark
                                        rounded-pill
                                    "
                                >
                                    <div
                                        class="
                                            col-1
                                            p-2
                                            text-center
                                            p-2
                                            text-center
                                        "
                                    >
                                        ROUTE
                                    </div>
                                    <div
                                        class="
                                            col
                                            border-start
                                            rounded-pill
                                            border-secondary
                                            align-items-center
                                            d-flex
                                        "
                                    >
                                        <code><%= e.route %></code>
                                    </div>
                                </div>
                                <div
                                    class="
                                        row
                                        border border-secondary
                                        bg-dark
                                        rounded-pill
                                        mt-1
                                    "
                                >
                                    <div class="col-1 p-2 text-center">
                                        METHOD
                                    </div>
                                    <div
                                        class="
                                            col
                                            border-start
                                            rounded-pill
                                            border-secondary
                                            align-items-center
                                            d-flex
                                        "
                                    >
                                        <code><%= e.method %></code>
                                    </div>
                                </div>
                                <div
                                    class="
                                        row
                                        border border-secondary
                                        rounded
                                        bg-dark
                                        mt-1
                                    "
                                >
                                    <div class="col-1 p-2 text-center">
                                        BODY
                                    </div>
                                    <div
                                        class="
                                            col
                                            border-start
                                            rounded
                                            border-secondary
                                            align-items-center
                                            d-flex
                                        "
                                    >
                                        <% if (e.body.length !== 0) { %>
                                        <code>
                                            <ul>
                                                <% e.body.forEach(i => { %>
                                                <li><%= i %></li>
                                                <% }) %>
                                            </ul>
                                        </code>

                                        <% } else { %>
                                        <code> [empty] </code>
                                        <% } %>
                                    </div>
                                </div>
                                <div
                                    class="
                                        row
                                        border border-secondary
                                        rounded
                                        bg-dark
                                        mt-1
                                    "
                                >
                                    <div class="col-1 p-2 text-center">
                                        DESC
                                    </div>
                                    <div
                                        class="
                                            col
                                            border-start
                                            rounded-pill
                                            border-secondary
                                            align-items-center
                                            d-flex
                                        "
                                    >
                                        <code> <%= e.desc %> </code>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                        <div class="card-footer">
                            <a class="text-light" href="#">Back to top</a>
                        </div>
                    </div>
                    <% });%>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
