html
    head
        title Jade Template
               

    body
        header(style="background-color: #14274e; padding: 10px; color: white; border-bottom: 2px #f0b917 solid")
            span E-RECEIPT

        main(style="padding: 25px")
            h5 RECEIVED BY:
            h2 LAKE COMMUNITY CABLE TV MULTIPURPOSE COOPERATIVE
            span(style="font-weight:bold; font-size:15px; padding-left:20px") ADDRESS: 
            span Lina Bldg, Brgy.V-B Rizal Avenue Cor. Apolinario Mabini St San Pablo City, 4000 Laguna, Philippines
            br
            span(style="font-weight:bold; font-size:15px; padding-left:20px") CONTACT NUMBER: 
            span 0995 381 7833
            br
            span(style="font-weight:bold; font-size:15px; padding-left:20px") EMAIL ADDRESS: 
            span lakecommunitycabletv@gmail.com
            br
            hr
            h5 RECEIVED FROM:
            h2 #{account.accountName.lastName}, #{account.accountName.firstName}
            span(style="color:red;font-size:20px; padding-left:20px;") ACCOUNT NUMBER: 
            span(style="font-size:20px;") #{account.prefix}#{account.acc_ctr.toString().padStart(3, "0")}
            br
            hr
            h5 PAYMENT METHOD:
            h3(style="padding-left:20px;") #{payment.modeOfPayment}
            br
            
        header(style="background-color: #14274e; padding: 10px; color: white; border-bottom: 2px #f0b917 solid")
            span IN SETTLEMENT OF THE FOLLOWING:

        main(style="padding: 25px")
           
            table(style="width:50%;text-align:center")
                tr(style="background-color:#14274e; color:white;")
                    th CODE
                    th DESCRIPTION
                    th AMOUNT
                
                - var total = 0
                each fee in payment.feeIDs
                    tr
                        td #{fee.prefix}#{fee.fee_ctr.toString().padStart(3, "0")}
                        td #{fee.description}
                        td #{fee.price}
                    
                    - total = total + fee.price 

                tr 
                    td(colspan=2) TOTAL
                    td=  total
                

        footer(style="background-color: gray; color: white; padding: 10px 5px; text-align: center")
            span LCCTV


